@media only screen and (max-width: 768px) {
.flex {
  display: flex;
}
}
  section {
    max-width: 1000px;
  }
  .box-container {
    position: relative; 
    height:318px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
  
   

}
.box-container:hover {
  background-color: rgba(0,0,0,.5);
  cursor: pointer;
}
.box-container::before {
  content: "";
  background-image: url("headshot.png");
  background-size: cover;
  position: absolute;
  top: 0px;
  right:0px;
  bottom: 0px;
  left:0px;
  background-color: rgba(0,0,0,0.25);
  opacity: .03;
  }

 
.card-text {
  color: var(--green-light);
  line-height: 1.1;
  padding: 20px;
  text-decoration: none;
}
/* .card- {
  text-align: center;
} */
a:link {
  text-decoration: none;
}
.m-20 {
  margin: 70px 20px 0px 20px;
}

ul.p-none {
  padding: none;
}
li { 
padding-right:24px

}


/* li { 
  margin: 24px 24px 16px 24px;
} */
/*  */
  
  /* Bottom right text
  .text-block {
  
    top: 20px;
    right: 20px;
    
    color: white;
    /* padding-left: 20px;
    padding-right: 20px; */
  

